* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  background-position: center;
  background-size: cover;
}

li {
    list-style-type:none;
}

.info ul {
    padding-left: 10px;
}

header{
   background: #0b0c10;
}

header nav {
   height: 70px;
   line-height: 50px;
   width: 95%;
   margin:0 auto;
}

header .user{
    display:inline-block;
    float:right;
    margin-top:10px
}

.number_search {
    height: 50px;
    line-height: 50px;
    width:70%;
    margin:auto;
    color: #c5c6c7;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 20px;
}

.movie_elements {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.movie {
    position:relative;
    display: inline-block;
    width: 30.6%;
    height: 480px;
    margin: 1%;
    border: none;
    outline: none;
    background: #0b0c10;
    text-decoration: none;
}

#welcome{
    display:inline;
    color: #66FCF1;
    text-transform: uppercase;
    margin: 8px 8px 8px 0;
    font-weight: 400;
}

#log_out {
    display: inline;
}

#btn-log-out {
    border: 1px solid #66fcf1;
    outline: none;
    color: #66fcf1;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    background: #2D3436;
    text-transform: uppercase;
    font-size: 0.78em;
    font-weight: 300;
    margin: 5px;
}

#btn-log-out:hover {
    background: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    transition: .5s;
}

#logo img {
    width: 100px;
    margin: 10px;
}

.movie:hover {
    cursor: pointer;
}

.poster{
    display:block;
    position: absolute;
    height:400px;
}

.movie_elements .movie .poster > img {
    display:block;
    width: 100%;
    height:100%;
}

.info {
    position:absolute;
    bottom:0;
    margin: 20px 0;
}

.film_title {
    color: #66FCF1;
    font-size: 16px;
    font-weight: 300;
    line-height:40px
}

.film_length {
    color: #c5c6c7;
    font-size: 12px;
}

#login,#signup {
        font-size: 0.78em;
        font-weight: 300;
        width:80px;
        height:35px;
        border: #66FCF1 1px solid;
        outline: none;
        color: #66FCF1;
        background: #2d3436;
        cursor:pointer;
        text-transform: uppercase;
        margin: 2px;
}

#login:hover,#signup:hover {
        background: linear-gradient(315deg, #2d3436 0%, #000000 74%);
        transition: .5s;
}

/* FOOTER */

#footer{
    display:block;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #0b0c10;
}

#footer>div {
    display:block;
    position:relative;
    width:70%;margin:auto;
    padding:20px
}
#address,#about_us {
    display:inline-block;
    width : 33%;
}

#address {
    text-align: left;
}

#about_us {
    text-align: center;
}

#contact {
    display:inline-block;
    padding-top: 10px;
    width : 33%;
    text-align: right;
}

#footer h4 {
    color: #66FCF1;
    margin: 8px 0;
    font-weight: 400;
}

#footer a {
    color: #C5C6C7;
    font-size: 0.9em;
}

#contact i {
    font-size: 2.9em;
    color: #66FCF1;
}