{% extends "base.html" %}

{%block title %}Home{% endblock %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> {% endblock %}
{% block container %}
    <header>
        <nav>
            <a href="/" id="logo">
                <img src="static/img/logo/logo.png">
            </a>
            <div class="user">
                {% if not username %}
                    <div class="login-signup-form">
                        <form action="" method="post">
                            <span><input id="login" name="login" type="submit" value="Log In"></span>
                            <span><input id="signup" name="signup" type="submit" value="Sign Up"></span>
                        </form>
                    </div>
                {% endif %}
                {% if username %}
                    <div id="welcome">
                        Welcome, {{ username }}
                    </div>
                    <div id="log_out">
                        <a href="{{ url_for('log_out') }}" id="btn-log-out">Log out</a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="search-form">
        <form action="" method="post">
            <h2>
                Search
            </h2>
            <span>
                <input id="submit" name="submit" type="submit" value="Search">
            </span>
            <ul>
                <li>
                    <h4>Title</h4>
                    <input id="title" name="title"  type="text">
                </li>
                <li>
                    <h4>Year</h4>
                    <input id="year" name="year" type="text">
                </li>
                <li>
                    <h4>Director</h4>
                    <input id="director" name="director" type="text">
                </li>
            </ul>
        </form>
    </div>
    <div class="slide" >
        <img id="img" src="static/img/slide/1.jpeg" onclick="changeImages()">
    </div>
    <div id="footer">
        <div>
            <div id="address">
                <h4>ADDRESS</h4>
                <a>Trường Đại học Công nghệ - ĐHQGHN</a><br>
                <a>144 Xuân Thủy, Cầu Giấy, Hà Nội</a>
            </div>
            <div id="about_us">
                <h4>ABOUT US</h4>
                <a>Nguyễn Hoài Lâm - 18020748</a><br>
                <a>Nguyễn Thành Đạt - 18020297</a>
            </div>
            <div id="contact">
                <h4>CONTACT</h4>
                <a href="https://www.facebook.com/lamnh.nn"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.facebook.com/lamnh.nn"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    var index=1;
    changeImages = function(){
        var imgs = ["static/img/slide/1.jpeg","static/img/slide/2.jpeg","static/img/slide/3.jpeg"];
        document.getElementById("img").src = imgs[index];
        index++;
        if (index==3){index=0}
    }
    setInterval(changeImages,3000);
{% endblock %}