{% extends "base.html" %}

{%block title %}Login{% endblock %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/signin-up.css') }}"> {% endblock %}
{% block container %}
    <header>
        <nav>
            <a href="/" id="logo">
                <img src="static/img/logo/logo.png">
            </a>
        </nav>
    </header>

    <div class="container">
        <form action="/login" method="POST">

            <h3 class="title">LOG IN</h3><br>
            <div class="username">
                <h4 for="username" >Username</h4>
                <input id="username" name="username" required type="text" value="">
            </div><br>
            <div class="password">
                <h4 for="password">Password</h4>
                <input id="password" name="password" required type="password" value="">
            </div><br>
            <div class="submit">
                <input id="submit" name="submit" type="submit" value="Log In">
            </div>
        </form>
        <p id="error">{{ error }}</p>
    </div>
   <div id="footer">
        <div>
            <div id="address">
                <h4>ADDRESS</h4>
                <a>Trường Đại học Công nghệ - ĐHQGHN</a><br>
                <a>144 Xuân Thủy, Cầu Giấy, Hà Nội</a>
            </div>
            <div id="about_us">
                <h4>ABOUT US</h4>
                <a>Nguyễn Hoài Lâm - 18020748</a><br>
                <a>Nguyễn Thành Đạt - 18020297</a>
            </div>
            <div id="contact">
                <h4>CONTACT</h4>
                <a href="https://www.facebook.com/lamnh.nn"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.facebook.com/lamnh.nn"><i class="fab fa-instagram-square"></i></a>

            </div>
        </div>
    </div>
{% endblock %}