{% extends "base.html" %}

{%block title %}Login{% endblock %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/signin-up.css') }}"> {% endblock %}

{% block container %}
    <header>
        <nav>
            <a href="/">
                <img src="static/img/logo/logo.png">
            </a>
        </nav>
    </header>
    <diV style="border: 1px solid yellow;">
    </diV>
    <div style="height:100px"></div>
    <div class="container" style="width:30%;margin:auto";>
        <form action="/login" method="POST" style="line-height:10px;">

            <h3 class="title" style="text-align:center"><a>Log In</a></h3><br>
            <div class="username" style="line-height:20px;">
                <h4 for="username" >Username</h4>
                <input id="username" name="username" required style="width:100%;height:30px" type="text" value="">
            </div><br>
            <div class="password"style="line-height:20px;">
                <h4 for="password">Password</h4>
                <input id="password" name="password" required style="width:100%;height:30px" type="password" value="">
            </div><br>
            <div class="submit" style="text-align:center">
                <input id="submit" name="submit" type="submit" value="Log In">
            </div>
        </form>
        {{ error }}
    </div>

    <div id="footer">
        <diV style="border: 1px solid yellow;"></diV>
        <div id="container">
            <div id="address">
                <h4 style="color:#dacb46">Địa chỉ</h4>
                <a style="color: #bbb; font-size: 14px;">Trường Đại học Công nghệ - ĐHQGHN</a><br>
                <a style="color: #bbb; font-size: 14px;">144 Xuân Thủy, Cầu Giấy, Hà Nội</a>
            </div>
            <div id="about_us">
                <h4 style="color:#dacb46">Thành viên</h4>
                <a style="color: #bbb; font-size: 14px;">Nguyễn Hoài Lâm - 18020748</a><br>
                <a style="color: #bbb; font-size: 14px;">Nguyễn Thành Đạt - 18020297</a>
            </div>
            <div id="contact">
                <h4 style="color:#dacb46">Kết nối với chúng tôi</h4>
                <a href="https://www.facebook.com/lamnh.nn"><img src="static/img/icon/facebook.jpg" width="40px" height="40px"></a>
                <a href="https://www.facebook.com/lamnh.nn"><img src="static/img/icon/instagram.png" width="40px" height="40px"></a>
            </div>
        </div>
    </div>
{% endblock %}