{% extends "base.html" %}

{%block title %} {{ title }} {% endblock %}

{% block container %}
    <div id="container">
        <h2>
            {{ title }}
        </h2>
        <p>
            {{ description }}
        </p>
        <img src="{{ url_for('static', filename=poster_url) }}">
        <video width="500" height="auto" controls>
            <source src="{{ url_for('static', filename=trailer_url) }}">
        </video>
        {% if user_rating_form %}
        <div id="user_rate">
            <form id="review" method="POST">
                <div>
                    {{ user_rating_form.rating.label }} <br>
                    {{ user_rating_form.rating(size=50) }}
                    <span>
                       {{ user_rating_form.submit() }}
                    </span>
                </div>

            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}