{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}"> {% endblock %}

{% block container %}
    <header>
        <nav>
            <a href="/">
                <img src="{{ url_for('static', filename='img/logo/logo.png') }}">
            </a>
            <div class="user">
                {% if not username %}
                    <div class="login-signup-form">
                        <form action="" method="post">
                            <span>{{ login_signup_form.login }}</span>
                            <span>{{ login_signup_form.signup }}</span>
                        </form>
                    </div>
                {% endif %}
                {% if username %}
                    <div id="welcome" style="display:inline;margin-right:5px">
                        Welcome, {{ username }}
                    </div>
                    <div id="log_out" style="display:inline">
                        <a href="{{ url_for('log_out') }}" style="text-decoration:none;color:#dec700">Log out</a>
                    </div>
<!--                    {% block user_things %}-->
<!--                        //some user things-->
<!--                    {% endblock %}-->
                {% endif %}
        </nav>
    </header>
    <diV style="border: 1px solid yellow;">
    </diV>
    <div id="container">
        <div class="text-content">
            <h2>
                {{ title }}
            </h2>
            <p>
                {{ description }}
            </p>
            <p id="director">
                <span>Director: </span> {{ director[0] }}.
            </p>
            <p id="stars">
                <span>Stars: </span>
                {% for x in star_name_result %}
                    {{ x }},
                {% endfor %}...
            </p>
        </div>
        <div class="poster">
            <img src="{{ url_for('static', filename=poster_url) }}">
        </div>
        <div class="trailer">
            <h2>TRAILER</h2>
            <video width="500" height="auto" controls class="video">
                <source src="{{ url_for('static', filename=trailer_url) }}">
            </video>
        </div>
        {% if user_rating_form %}
        <div id="user_rate">
            <form id="review" method="POST">
                <div>
                    <h2 id="review-hr">REVIEW</h2>
                    {{ user_rating_form.rating(placeholder="Share your opinions") }}
                    {{ user_rating_form.submit() }}
                </div>

            </form>
        </div>
        {% endif %}
    </div>
    <div id="footer" style="display:block;position:sticky;top:100%;background:#1f2833;padding-bottom:10px">
        <diV style="border: 1px solid yellow;">
        </diV>
        <div style="display:block;position:relative;width:70%;margin:auto;padding:20px">
            <div id="address" style="display:inline-block;width:39%">
                <h4 style="color:#dacb46">Địa chỉ</h4>
                <a style="color: #bbb; font-size: 14px;">Trường Đại học Công nghệ - ĐHQGHN</a><br>
                <a style="color: #bbb; font-size: 14px;">144 Xuân Thủy, Cầu Giấy, Hà Nội</a>
            </div>
            <div id="about_us" style="display:inline-block;width:39%">
                <h4 style="color:#dacb46">Thành viên</h4>
                <a style="color: #bbb; font-size: 14px;">Nguyễn Hoài Lâm - 18020748</a><br>
                <a style="color: #bbb; font-size: 14px;">Nguyễn Thành Đạt - 18020297</a>
            </div>
            <div id="contact" style="display:inline-block;width:20%">
                <h4 style="color:#dacb46">Kết nối với chúng tôi</h4>
                <a href="https://www.facebook.com/lamnh.nn"><img src="{{ url_for('static', filename='img/icon/facebook.jpg') }}" width="40px" height="40px"></a>
                <a href="https://www.facebook.com/lamnh.nn"><img src="{{ url_for('static', filename='img/icon/instagram.png') }}" width="40px" height="40px"></a>
            </div>
        </div>
    </div>
{% endblock %}