{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}"> {% endblock %}

{% block container %}
    <header>
        <nav>
            <a href="/" id="logo">
                <img src="{{ url_for('static', filename='img/logo/logo.png') }}">
            </a>
            <div class="user">
                {% if not username %}
                    <div class="login-signup-form">
                        <form action="" method="POST">
                            <span>{{ login_signup_form.login }}</span>
                            <span>{{ login_signup_form.signup }}</span>
                        </form>
                    </div>
                {% endif %}
                {% if username %}
                    <div id="welcome">
                        Welcome, {{ username }}
                    </div>
                    <div id="log_out">
                        <a href="{{ url_for('log_out') }}" id="btn-log-out">Log out</a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <div id="container">
        <div class="text-content">
            <h2>
                {{ title }}
            </h2>
            <p>
                {{ description }}
            </p>
            <p id="director">
                <span>Director: </span> {{ director[0] }}.
            </p>
            <p id="stars">
                <span>Stars: </span>
                {% for x in star_name_result %}
                    {{ x }},
                {% endfor %}...
            </p>
        </div>
        <div class="poster">
            <img src="{{ url_for('static', filename=poster_url) }}">
        </div>
        <div class="trailer">
            <h2>TRAILER</h2>
            <video width="500" height="auto" controls>
                <source src="{{ url_for('static', filename=trailer_url) }}">
            </video>
        </div>
        {% if user_rating_form %}
        <div id="user_rate">
            <form id="review" method="POST">
                <div>
                    <h2 class="review-hr">REVIEW</h2>
                    {{ user_rating_form.rating(placeholder="Share your opinions") }}
                    {{ user_rating_form.submit() }}
                </div>
            </form>
        </div>
        {% endif %}
        <section id="review-user">
            {% if not username %}
                <h2 class="review-hr">REVIEW</h2>
            {% endif %}
            {% for x in review_result %}
            <div class="user-review">
                <div class="user-logo"><i class="far fa-user"></i></div>
                <div class="review-area">
                    <div class="username">{{ x[0] }}</div>
                    <div class="review">{{ x[1] }}</div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
    <div id="footer">
        <div>
            <div id="address">
                <h4>ADDRESS</h4>
                <a>Trường Đại học Công nghệ - ĐHQGHN</a><br>
                <a>144 Xuân Thủy, Cầu Giấy, Hà Nội</a>
            </div>
            <div id="about_us">
                <h4>ABOUT US</h4>
                <a>Nguyễn Hoài Lâm - 18020748</a><br>
                <a>Nguyễn Thành Đạt - 18020297</a>
            </div>
            <div id="contact">
                <h4>CONTACT</h4>
                <a href="https://www.facebook.com/lamnh.nn"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.facebook.com/lamnh.nn"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
    </div>
{% endblock %}