<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/" id="logo">
                <img src="static/img/logo/logo.png">
            </a>
            <div class="user">
                {% if not username %}
                    <div class="login-signup-form">
                        <form action="" method="post">
                            <span>{{ login_signup_form.login }}</span>
                            <span>{{ login_signup_form.signup }}</span>
                        </form>
                    </div>
                {% endif %}
                {% if username %}
                    <div id="welcome" style="display:inline;margin-right:5px">
                        Welcome, {{ username }}
                    </div>
                    <div id="log_out">
                        <a href="{{ url_for('log_out') }}" id="btn-log-out">Log out</a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <nav>
        <div class="number_search">
            <a>RESULTS: {{ cnt }} </a>
        </div>
    </nav>
    <div class="movie_elements">
            {% for x in result %}
                <a  href="/movie/{{x.film_id}}" class="movie">
                    <div class="poster">
                        <img src="{{ url_for('static', filename=x.poster_url) }}">
                    </div>
                    <div class="info">
                        <ul>
                            <li><p class="film_title">{{x.title}}</p></li>
                            <li><p class="film_length">{{x.length}} | {{x.certificate}}</p></li>
                        </ul>
                    </div>
                </a>
            {% endfor %}
    </div>
   <div id="footer">
        <div>
            <div id="address">
                <h4>ADDRESS</h4>
                <a>Trường Đại học Công nghệ - ĐHQGHN</a><br>
                <a>144 Xuân Thủy, Cầu Giấy, Hà Nội</a>
            </div>
            <div id="about_us">
                <h4>ABOUT US</h4>
                <a>Nguyễn Hoài Lâm - 18020748</a><br>
                <a>Nguyễn Thành Đạt - 18020297</a>
            </div>
            <div id="contact">
                <h4>CONTACT</h4>
                <a href="https://www.facebook.com/lamnh.nn"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.facebook.com/lamnh.nn"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
    </div>
</body>
</html>